<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.description }}</title>
    <meta name="robots" content="noindex">
    <meta name="Description" content="{{ page.description }}">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/Universal-Health-Services/UHSStyles@main/beta/styles.min.css">
    {% set css %}
      {% include "styles.css" %}
    {% endset %}
    <style>
      {{ css | cssmin | safe }}
    </style>
    <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){
        w[l]=w[l]||[];
        w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});
        var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;
        f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','{{ page.analytics.tmId }}');</script>
    <!-- End Google Tag Manager -->
  </head>
  <body class="main {{ page.oSlug }}-{{ page.sSlug }}"> 

    <!-- Google Tag Manager (noscript) -->
      <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=page.analytics.tmId" height="0" width="0" style="display:none; visibility:hidden"></iframe>
      </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <header>
      <div class="container-inner_col">
        <div class="grid-row">
          <div class="grid-2-3">
            <a href="index.html"><img class="header-logo" src="{{ page.owner.logo.asset.url | url }}" alt="{{ page.owner.logo.alt }}"></a>
          </div>
          <div class="grid-1-3">
            <h3 class="header-tagline">Call for an Appointment<br><a class="phone" href="tel:{{ page.tel }}">{{ page.tel }}</a></h3>
          </div>
        </div>
      </div>
    </header>

    <div class="full-width {% if templateClass %}{{ templateClass }}{% endif %} rm_margins">
    
      {{ content | safe }}

    <footer class="full-width">
      <div class="container-inner_col">
        <div class="grid-row">
          <div class="grid-1-6">
            <img src="https://www.uhsinc.com/wp-content/uploads/2020/01/uhs_footer-logo.png" alt="Universal Health Services, Inc." />
          </div>
          <div class="grid-5-6">
            <p>{{ page.owner.name }} is owned and operated by a subsidiary of Universal Health Services, Inc. (UHS), a King of Prussia, PA-based company, that is one of the largest healthcare management companies in the nation. The information on this website is provided as general health guidelines and may not be applicable to your particular health condition. Your individual health status and any required medical treatments can only be properly addressed by a professional healthcare provider of your choice. Remember: There is no adequate substitution for a personal consultation with your physician. Neither {{ page.owner.name }}, or any of their affiliates, nor any contributors shall have any liability for the content or any errors or omissions in the information provided by this website.</p>
            <p>The information, content and artwork provided by this website is intended for non-commercial use by the reader. The reader is permitted to make one copy of the information displayed for his/her own non-commercial use. The making of additional copies is prohibited.</p>
            <p class="copyright">©{{ getYear }} {{ page.owner.name }}. All rights reserved.</p>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
      // Add smooth scrolling to all links
      $("a").on('click', function(event) {

        // Make sure this.hash has a value before overriding default behavior
        if (this.hash !== "") {
          // Prevent default anchor click behavior
          event.preventDefault();

          // Store hash
          var hash = this.hash;

          // Using jQuery's animate() method to add smooth page scroll
          // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
          $('html, body').animate({
            scrollTop: $(hash).offset().top
          }, 1200, function(){

            // Add hash (#) to URL when done scrolling (default click behavior)
            window.location.hash = hash;
          });
        } // End if
      });
    });
    </script>
  </body>
</html>