/*
 * Body Styles
 */
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Avenir", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-style: normal;
}
h1,
.hero-container h1 {
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.15;
}
h2,
.top-copy h2,
.location-addr h2 {
    font-size: 2.5rem;
    line-height: 1.25;
    font-weight: 400;
    margin-top: 0;
}
h3,
.content-container h3 {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0px;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.5rem;
}
h4,
.content-container h4 {
    font-size: 1.5rem;
    font-weight: 200;
    letter-spacing: 0px;
    font-style: normal;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.25rem;
}
body p {
    color: #747474;
    font-size: 1.4rem;
    line-height: 1.9rem;
}
body footer p {
    font-size: .75rem;
    line-height: .9375rem;
}

/*
* Header Styles
*/
header .grid-row {
    padding: 20px 0;
    height: 65px;
}
header [class^="grid-"] {
    align-items: center;
}
/* Logo Variations */
body[class*=armc]  .header-logo,
body[class*=gwuh]  .header-logo,
body[class*=lrmc]  .header-logo,
body[class*=mmhs]  .header-logo,
body[class*=nwths] .header-logo,
body[class*=nnmc]  .header-logo,
body[class*=swhs]  .header-logo,
body[class*=sths]  .header-logo,
body[class*=vhs]   .header-logo,
body[class*=wrmc]  .header-logo {
    width: 300px;
    height: auto;
}
body[class*=crmc] .header-logo,
body[class*=dhl]  .header-logo,
body[class*=fdmc] .header-logo,
body[class*=mmh]  .header-logo,
body[class*=prmc] .header-logo,
body[class*=stm]  .header-logo,
body[class*=tmc]  .header-logo,
body[class*=tvh]  .header-logo {
    width: auto;
    height: 68px;
}
.header-tagline {
    font-size: 24px;
    color: rgb(110, 109, 109);
    line-height: 1.1;
    text-align: center;
    margin: 0;
}
header a.phone {
    color: #144b86;
    font-size: 35px;
    line-height: 1.0;
    text-align: center;
    margin-bottom: 5px;
    text-decoration: none;
}
header a.phone:hover{
    text-decoration: underline;
}
  
/*
 * Page Content Containers
 */
.home,
.thankyou {
    padding: 0;
}
.content-container {
    padding: 45px 0;
}
.main-container,
.form-container {
    padding: 2%;
    margin-bottom: 45px;
}
.grid-row .main-container.grid-1-2,
.grid-row .form-container.grid-1-2 {
    width: calc(50% - 4%);
}

/*
 * Hero Styles
 */
.hero-container {
    /* background-color: rgba(255,255,255,0);*/
    background: #fff;
    background-position: right top;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 50px;
}
.hero-container .grid-row .hero-copy:first-of-type h1,
.hero-container .grid-row .hero-copy:first-of-type p  {
    text-align: center;
}
.hero-container .grid-row .hero-copy:first-of-type h1 {
    margin: 20px auto 10px;
}
.hero-container .grid-row .hero-copy:first-of-type p {
    color: #4d4d4d;;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.3;
    margin: 10px auto 20px;
}
.hero-container .grid-row .hero-copy {
    /* background-color: rgba(255, 255, 255, 0.829); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2%;
}
.hero-container a.button {
    padding: 18px 30px 15px;
    border-radius: 2px;
    background-color: #144b86;
    text-align: center;
    text-decoration: none;
    margin: 20px auto 45px;
}
.hero-container a.button:hover {
    background-color: #0d325a;
}
.hero-container a.button span {
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #ffffff;
}
  
/*
 * Main Styles
 */

/*
 * Form Styles
 */
.form-container {
    background-color: rgba(20, 75, 134, 0.85);
    border-radius: 3px;
}
.form-wrapper {
    padding: 10px;
}
.form-container form {
    margin-bottom: 5px;
}
#form h3 {
    color:#ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25em;
    margin: 0;
}
.form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.form-wrapper p.instructions {
    margin: 20px 0;
    font-size: 1rem;
    line-height: 1.2rem;
}
.form-wrapper p,
.form-wrapper label:not(.form-grp-hdr) {
    color:#ffffff;
    margin: 10px 0;
}
.form-wrapper a {
    color: #ffffff;
    text-decoration: none;
}
.form-wrapper a:hover {
    color: rgb(203, 221, 255);
    text-decoration: underline;
}
._form-content ._form_element {
    margin-bottom: 20px;
}
.form-wrapper .form-grp-hdr {
    display: block;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: #ffffff;
    margin-bottom: 15px;
} 
.form-wrapper input[type=text],
.form-wrapper input[type=email],
.form-wrapper input[type=tel] {
    width: calc(50% - 16px);
    padding: 8px 16px;
    margin: 8px 8px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    font-size: 1.2rem;
    line-height: 1.6;
    text-transform: inherit;
    border-radius: 3px;
}
label {
    font-size: 1rem;
    line-height: 1.2rem;
}
.form-wrapper button[type=submit] {
    width: 100%;
    padding: 8px 16px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    font-size: 1.5rem;
    line-height: 1.6;
    text-transform: inherit;
    border-radius: 3px;
}
.form-wrapper input[type=text]:focus,
.form-wrapper input[type=email]:focus,
.form-wrapper input[type=tel]:focus {
    border: 1px solid #144b86;
}
.form-wrapper ._form-content ._checkbox-radio input,
.form-wrapper input[type=radio],
.form-wrapper input[type=checkbox] {
    width: 20px;
    height: 20px;
    border: 1px solid #ffffff;
}
.form-wrapper input[type=radio]:focus,
.form-wrapper input[type=checkbox]:focus {
    border: 1px solid #144b86;
}
.form-wrapper ._form-content button,
.form-wrapper button[type=submit] {
    background: #1091cc;
    color: #ffffff;
    border: 1px solid #1091cc;
}
.form-wrapper ._form-content button:hover,
.form-wrapper ._form-content button:focus,
.form-wrapper button[type=submit]:hover,
.form-wrapper button[type=submit]:focus {
    cursor: pointer;
    background: #144b86;
    color: #ffffff;
    border: 1px solid #144b86;
}

/*
* Teaser Styles
*/
.teasers-container { padding-top: 0; }
.teasers-container .teaser-col.grid-1-2 {
    width: calc(50% - 20px);
}
.teasers-container .teaser-col.grid-1-3 {
    width: calc(33.333% - 20px);
}
.teaser-col:first-of-type { padding: 0 20px 0 0; }
.teaser-col { flex: 1 0 auto; justify-content: center; padding: 0 10px; }
.teaser-col:last-of-type { padding: 0 0 0 20px; }
.teaser-col img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}
.teaser-col img {
    border-radius: 3px;
}
.teaser-col h3 {
    padding: 0 20px;
    margin-bottom: 20px;
    font-weight:600;
}
.teaser-col p {
    padding: 0 20px;
    margin: 0;
}
.teaser-col p:last-of-type {
    margin-bottom: 10px;
}
.teaser-col ul {
    padding: 0 0 0 45px;
    margin-top: auto;
    margin-bottom: 0;
    color: #747474;
}
  
/*
 * Awards Styles
 */
.awards-container {
    background-color: #f7f7f7;
    margin: 0;
    padding: 30px;
}
.award {
    padding: 0 20px;
    margin: 0 0 30px;
}
.award:last-of-type {
    margin-bottom: 0;
}
.awarded-by-seal,
.awarded-by {
    display: flex;
}
.awarded-by {
    flex-direction: column;
}
.award,
.awarded-by-seal,
.awarded-by {
    justify-content: center;
    align-items: center;
}
.awarded-by h4.award-text {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    line-height: 34px;
    color: rgb(77, 77, 77);
    margin: 20px 0 5px;
}
.awarded-by h4.award-text_no-subtext {
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    color: rgb(77, 77, 77);
    margin: 20px 0 20px;
}
.awarded-by p.award-subtext {
    color: rgb(77, 77, 77);
    margin: 5px 0 5px;
    text-align: center;
    line-height: 20px;
}
/*
 * CTA Band Styles
 */
.cta-band_call {
    background-color: #1091cc;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 30px 0;
    margin: 0 0 40px 0;
}
.cta-band_call [class^="grid-"] {
    justify-content: center;
}
.cta-band_call .grid-row h3 {
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    line-height: 34px;
    margin: 20px 0;
}
.cta-band_call a {
    color: #ffffff;
    text-decoration: none;
    text-align: center;
}
.cta-band_call a:hover {
    color: rgb(203, 221, 255);
    text-decoration: underline;
}
  
/*
 * Location Styles
 */
.location-map,
.location-addr {
    margin-bottom: 40px;
}
.locations-container {
    padding: 0;
    margin-bottom: 30px;  
}
.locations-container.grid-row>[class^="grid-"]:only-child>*:not([class^="grid-"]),
.location-addr h4,
.location-addr p {
    padding: 0;
    margin: 0 0 20px;
}
.location-addr h4 {
    font-weight: 600;
    font-size: 22px;
}
.location-addr p {
    line-height: 1.15;
    font-weight: 400;
    font-size: 20px;
} 
.location-map {
    margin-bottom: 40px;
}
.location-map iframe {
    width: 100%;
    height: 500px;
    border: 0;
    border-radius: 3px;
}
  
/*
 * Footer Styles
 */
footer.full-width {
    padding: 45px 0;
    margin-bottom: 0;
}
footer img { margin-top: 12px; }
footer p.copyright {
    margin-top: 65px;
}

/* BROWSER VARIATIONS */
/* XL – Desktop */
@media only screen and (max-width: 1200px) {
    .hero-container {
        padding: 200px 0 25px 0;
        background-position: center top;
    }
}
/* LG – Small Desktop or Large / Horizontal Orientation Tablet */
@media only screen and (max-width: 992px) {
    header a.phone {
        font-size:32px;
    }
    .form-wrapper .form-row {
        flex-direction: column;
    }
    .form-wrapper input[type=text],
    .form-wrapper input[type=tel],
    .form-wrapper input[type=email] {
        width: calc(100% - 16px);
        font-size:1rem;
    }
    .teasers-container .teaser-col.grid-1-2,
    .teasers-container .teaser-col.grid-1-3 {
        width: calc(50% - 24px);
    }
    .teasers-container .teaser-col:last-of-type.grid-1-2,
    .teasers-container .teaser-col:last-of-type.grid-1-3 {
        width: calc(50% - 32px);
    }
    .teaser-col:first-of-type { padding: 0 8px 0 16px; }
    .teaser-col { flex: 1 0 auto; justify-content: center; padding: 0 16px 0 8px; margin-bottom: 45px; }
    .teaser-col:last-of-type { padding: 0 16px; margin-bottom: 0;}
    .teaser-col:last-of-type.grid-1-3 { 
        width: calc(100% - 70px);
    }
    .teaser-col:last-of-type.grid-1-3 h3,
    .teaser-col:last-of-type.grid-1-3 p {
        padding: 0 35px;
    }
    .teaser-col:last-of-type.grid-1-3 ul { 
        padding: 0 35px 0 70px;
    }
}

/* MD – Vertical Orientation Tablet or Horizontal Orientation / Large Mobile */
@media only screen and (max-width: 768px) {
    header .grid-row {
        height: 140px;
    }
    header .grid-2-3 {
        width: 100%;
        text-align:center;
    }
    header .grid-1-3 {
        width: 100%;
        text-align: center;
    }
    .hero-container { padding: 0; }
    .hero-container .grid-row .hero-copy {
        padding: 75px 0 25px;
        background-color: rgba(255, 255, 255, 0.7);
        width: 100%;
    }
    .main-form_wrapper {
        flex-direction: column;
    }
    .grid-row .main-container.grid-1-2{
        padding: 25px;
        width: calc(100% - 50px);
    }
    .grid-row .form-container.grid-1-2 {
        width: calc(100% - 30px);
        padding: 25px 15px;
        margin-bottom: 20px;
        border-radius: 0;
    }
    .form-wrapper .form-row {
        flex-direction: row;
    }
    .form-wrapper input[type=text],
    .form-wrapper input[type=tel],
    .form-wrapper input[type=email] {
        width: calc(50% - 16px);
        font-size:1rem;
    }
    .teasers-container {
        padding: 15px;
    }
    .teaser-col:first-of-type,
    .teaser-col {
        margin-bottom: 45px;
    }
    .teaser-col:first-of-type,
    .teaser-col,
    .teaser-col:last-of-type { 
        width: calc(100% - 32px);
        padding: 0 16px;
    }
    .teaser-col:first-of-type h3,
    .teaser-col h3,
    .teaser-col:last-of-type h3,
    .teaser-col:first-of-type p,
    .teaser-col p,
    .teaser-col:last-of-type p,
    .teaser-col:first-of-type ul,
    .teaser-col ul,
    .teaser-col:last-of-type ul { 
        width: calc(100% - 70px);
        padding: 0 35px;
    }
    .teaser-col:first-of-type ul,
    .teaser-col ul,
    .teaser-col:last-of-type ul { 
        padding: 0 35px 0 70px;
    }
    .teaser-col.grid-1-3 h3 {
        font-size: 20px;
    }
    .full-width.cta-band_call {
        margin-bottom: 0;
    }
    .full-width.cta-band_call h3 {
        font-size: 36px;
    }
    .location-map iframe {
        border-radius: 0;
    }
    .location-addr.grid-1-2 {
        width: 100%;
    }
    .locations-container.grid-row>[class^="grid-"]:only-child>*:not([class^="grid-"]),
    .location-addr h4,
    .location-addr p {
        padding: 0 25px;
    }
    footer .container-inner_col {
        margin: 0 20px;
    }
    footer .grid-1-6 { width: 25%; }
    footer .grid-5-6 { width: 75%; }
}

/* XS - Vertical Orientation Small Mobile */
@media only screen and (max-width: 575px) {
    .hero-container {
        display: none;
        /* padding: 0;
        background-position: right middle;
        background-image: none !important;
        background-color: rgba(20,75,134,.85); */
    }
    .hero-container .grid-row [class^="grid-"]:first-of-type h1,
    .hero-container .grid-row [class^="grid-"]:first-of-type p {
        width: auto;
    }
    .hero-container .grid-row .hero-copy {
        width: 100%;
        padding: 8% 2% 2%;
        background-color: rgba(255,255,255,0);
    }
    /* #form h3 { display: none;} */
    .hero-container .grid-row .hero-copy:first-of-type h1,
    .hero-container .grid-row .hero-copy:first-of-type p {
        color: white;
    }
    .hero-container a.button {
        display: none;
    }
    .content-container {
        padding-top: 0px;
    }
    .main-form_wrapper {
        flex-direction: column-reverse;
    }
    #form h3 {
        font-size: 1.2rem;
    }
    /* .form-wrapper .instructions {
        text-align: center;
    }*/
    .form-wrapper .form-row {
        flex-direction: column;
    }
    .form-wrapper input[type=text],
    .form-wrapper input[type=email],
    .form-wrapper input[type=tel] {
        width: calc(100% - 16px);
    }
    .form-wrapper p {
        line-height: 1.2rem;
    }
    .teasers-container .teaser-col.grid-1-2,
    .teasers-container .teaser-col.grid-1-3,
    .teasers-container .teaser-col:last-of-type.grid-1-2,
    .teasers-container .teaser-col:last-of-type.grid-1-3  {
        width: calc(100% - 50px);
    }
    .teaser-col:first-of-type,
    .teaser-col,
    .teaser-col:last-of-type { flex: 1 0 auto; justify-content: center; padding: 0 25px; }
    .teaser-col:first-of-type.grid-1-3 h3,
    .teaser-col.grid-1-3 h3,
    .teaser-col:last-of-type.grid-1-3 h3,
    .teaser-col:first-of-type.grid-1-3  p,
    .teaser-col.grid-1-3 p,
    .teaser-col:last-of-type.grid-1-3 p,
    .teaser-col:first-of-type.grid-1-3 ul,
    .teaser-col.grid-1-3 ul,
    .teaser-col:last-of-type.grid-1-3 ul {
        width: 100%;
        padding: 0;
    }
    .teaser-col:first-of-type.grid-1-3 ul,
    .teaser-col.grid-1-3 ul,
    .teaser-col:last-of-type.grid-1-3 ul { 
        padding: 0 0 0 25px;
    }
    .awards-container {
        padding: 25px 0;
    }
    .award {
        padding: 0;
    }
    .awarded-by h4.award-text,
    .awarded-by h4.award-text_no-subtext {
        font-size: 1.7rem;
        line-height: 2rem;
    }
     p.award-subtext {
        font-size: 1rem;
        line-height: 1rem;
    }
    .full-width.cta-band_call h3 {
        font-size: 1.6rem;
        line-height: 1.7rem;
        text-align: center;
    }
    footer .grid-1-6 { width: 100%; }
    footer img { margin: 12px 0 24px 0; }
    footer .grid-5-6 { width: 100%; }
    footer p.copyright { margin-top: 24px; }
}

/* COLOR THEMES
 * ============
 * Custom Colors for Individual Locations and System Pages
 * Blue/Cool : ARMC, VHS, NWTX - DEFAULT
 * Purple/Warm : TMC, TVH
 * Blue & Green : WRMC, NNMC
 * Green: FDRMC, DHL
 * Other Green: MMH, MHCS, LRMC
 * Blue & Gold : GWUH, SWHS, CRMC, PRMC
 * STHS (singular)
 * STM (singular)
 */
 /* DEFAULT */
/*
Primary: 
Accent: 
*/
h1, h2, h4, h5, h6,
.hero-container .grid-row [class^=grid-]:first-of-type h1,
.hero-container .grid-row [class^=grid-]:first-of-type p {
    color: #0d325a;
}
footer,
footer { background-color: #0d325a; }
footer p,
footer p { color:#ffffff; }

 /* INDIVIDUAL LOCATIONS */
/* Aiken Regional Medical Centers
 * ---------
 * armc 
 */
 /*
Primary: #222d65
Accent: #006E9C
*/
body[class*=armc] h1,
body[class*=armc] h2,
body[class*=armc] h4,
body[class*=armc] h5,
body[class*=armc] h6,
body[class*=armc] .hero-container .grid-row [class^=grid-]:first-of-type h1,
body[class*=armc] .hero-container .grid-row [class^=grid-]:first-of-type p {
    color: #3c475a;
}
body[class*=armc] footer { background-color: #3c475a; }
body[class*=armc] footer p { color:rgba(255, 255, 255, 0.6); }
/* Corona Regional Medical Center
 * ---------
 * crmc
 */
 /*
Primary: #00447c
Accent: #966E17
*/

/* Doctors Hospital of Laredo
 * -----------
 * dhl
 */
 /*
Primary: #004f39
Accent: #507B6C
*/

/* Fort Duncan Regional Medical Center
 * ---------
 * fdmc
 */
 /*
Primary: #004f39
Accent: #507B6C
*/

/* George Washington University Hospital, The
 * ---------
 * gwuh
 */
 /*
Primary: #004065
Accent: #007BAF
*/

/* Lakewood Ranch Medical Center
 * ------------
 * lrmc
 */
 /*
Primary: 
Accent: 
*/

/* Northern Nevada Medical Center
 * -------------
 * nnmc
 */
 /*
Primary: #1c355e
Accent:
*/
body[class*=nnmc] h1,
body[class*=nnmc] h2,
body[class*=nnmc] h4,
body[class*=nnmc] h5,
body[class*=nnmc] h6,
body[class*=nnmc] .hero-container .grid-row [class^=grid-]:first-of-type h1,
body[class*=nnmc] .hero-container .grid-row [class^=grid-]:first-of-type p {
    color: #333333;
}
body[class*=nnmc] header a.phone {
    color: #146947;
}
body[class*=nnmc] .hero-container a.button {
    background-color: #146947;
    color: #fefefe;
}
body[class*=nnmc] .form-wrapper button[type="submit"] {
    background-color: #146947;
    border: 1px solid #ffffff;
    color: #fefefe;
}
body[class*=nnmc] .hero-container a.button:hover {
    background-color: #162E51;
}
body[class*=nnmc] .form-wrapper button[type="submit"]:hover {
    background-color: #162E51;
}
body[class*=nnmc] .form-container {
    background-color: #162E51;
}
body[class*=nnmc] .awards-container {
    background-color: #f6f6f6;
}
body[class*=nnmc] .cta-band_call {
    background-color: #162E51;
}
body[class*=nnmc] .cta-band_call a:hover {
    color: #f6f6f6;
}
body[class*=nnmc] footer { background-color: #333; }
body[class*=nnmc] footer p { color: #fff; }

 /* Palmdale Regional Medical Center
 * -----------
 * prmc
 */
 /*
Primary: #014482
Accent: #998667
*/
/* St. Mary's Regional Medical Center
 * -----------
 * stm
 */ 
 /*
Primary: #1b3d6e
Accent: #00918D
*/

 /* Temecula Valley Hospital
 * ---------
 * tvh
 */
 /*
Primary: #450242
Accent: #677718
*/

 /* Texoma Medical Center
 * ---------
 * tmc
 */
 /*
Primary: #43003D
Accent: #720222
*/

/* Wellington Regional Medical Center
 * -----------
 * wrmc
 */
 /*
Primary: #17305a
Accent: #428840
*/

 /* SYSTEMS */
/* Manatee Healthcare System
 * ------------
 * mhs
 */
 /*
Primary: #00907f
Accent: #00534a
*/

/* Northwest Texas Healthcare System
 * ----------
 * nwths
 */
 /*
Primary: #19367C
Accent: #282829
*/

/* South Texas Health System
 * ---------
 * stxs
 */
 /*
Primary: #7c2529
Accent: #451416
*/

/* Southwest Healthcare System
 * ------------
 * swhs
 */
 /*
Primary: #144984
Accent: #172c54
*/

/* Valley Health System, The
 * ----------
 * vhs
 */ 
 /*
Primary: #002855
Accent: #004785
*/